.measure-name {
  font-weight: 600;
}

.measure-text-container {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.single-data-point {
  display: block;
  margin-top: 2em;
  text-align: center;
}
